<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
               用户
            </button>

            <button class="btn btn-info">
                权限
            </button>

            <button class="btn btn-warning">
                分类
            </button>

            <button class="btn btn-danger">
                文章
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="active">
            <a href="index.html">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> 控制台 </span>
            </a>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-th"></i>
                <span class="menu-text"> 文章管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="@Url.Action("Index", "Article")">
                        <i class="icon-double-angle-right"></i>
                        文章管理
                    </a>
                </li>
                 <li>
                    <a href="@Url.Action("Create", "Article")">
                        <i class="icon-double-angle-right"></i>
                        文章添加
                    </a>
                </li>

               
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-camera"></i>
                <span class="menu-text"> 图片管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="@Url.Action("Index", "Image")">
                        <i class="icon-double-angle-right"></i>
                        图片管理
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Create", "Image")">
                        <i class="icon-double-angle-right"></i>
                        图片添加
                    </a>
                </li>

               
            </ul>
        </li>

       
        <li>
            <a href="/User/UserList" class="dropdown-toggle">
                <i class="icon-user"></i>
                <span class="menu-text"> 用户管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="@Url.Action("Index", "User")">
                        <i class="icon-double-angle-right"></i>
                        用户管理
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Create", "User")">
                        <i class="icon-double-angle-right"></i>
                        添加用户
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="@Url.Action("Index", "Role")" class="dropdown-toggle">
                <i class="icon-group"></i>
                <span class="menu-text"> 角色权限管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="@Url.Action("Index", "Role")">
                        <i class="icon-double-angle-right"></i>
                        角色权限管理
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Create", "Role")">
                        <i class="icon-double-angle-right"></i>
                        添加角色
                    </a>
                </li>
            </ul>
        </li>

       

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-cog"></i>
                <span class="menu-text"> 系统设置 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="@Url.Action("Create", "Category", new { CategoryParentId = 0, CategoryParentName ="一级分类"})">
                        <i class="icon-double-angle-right"></i>
                        一级分类添加
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Category", new { id = 0, CategoryParentName = "一级分类" })">
                        <i class="icon-double-angle-right"></i>
                        一级分类管理
                    </a>
                </li>
            </ul>
        </li>






    </ul><!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>
    

    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>

