@using Bll;
@{
    ViewBag.Title = "绩效管理";
    ViewBag.SmallTitle = "绩效列表";
}
<!-- Pages styles -->
@section HeadCss{
    <link rel="stylesheet" href="/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link href="/assets/css/page.css" rel="stylesheet" type="text/css" />
}
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/">首页</a>
        </li>

        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
        <li class="active">@ViewBag.SmallTitle</li>
    </ul><!-- .breadcrumb -->
    <div class="nav-search" id="nav-search">
        
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="icon-search nav-search-icon"></i>
            </span>
        </form>
    </div>
    <!-- #nav-search -->
</div>
<div class="page-content">
    <div class="page-header">

        <div>
            <h1>
                @ViewBag.Title
                <small>
                    <i class="icon-double-angle-right"></i>
                    @ViewBag.SmallTitle (截止到今日 共 @ViewBag.ZongCount 条绩效项目，其中已审核 @ViewBag.ShenheCount 条，未通过 @ViewBag.WeishenheCount 条 ，总绩效分数 @ViewBag.ZongFenshu 分，其中已审核 @ViewBag.ShenheFenshu 分，未通过 @ViewBag.WeishenheFenshu 分 )
                </small>
             </h1>
            
        </div>
       
        </div>
    
    <!-- /.page-header -->
    <h4 class="lighter">
        <a href="/Customer/Index?category=全部&guidang=@Request["guidang"]" class="btn btn-sm btn-primary" name="BtnCategoryId" title="全部">全部：</a>
       
@foreach (String month in ViewData["Month"] as IEnumerable<String>)
{
    <a href="#" class="btn btn-sm btn-link" name="BtnCategoryId" title="">@month</a>
}
      

    </h4>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>绩效大分类</th>
                                    <th>绩效小分类</th>
                                    <th>用户名</th>  
                                    <th>任务对象</th>
                                    <th>绩效分数</th>  
                                    <th>绩效提交时间</th>                             
                                    <th>状态</th>
                                    <th>绩效审核时间</th>
                                    
                                </tr>
                            </thead>

                            <tbody>
@foreach (var item in Model)
    {
                                 <tr>
                                    <td>@item.JixiaoId </td>
                                    <td>@MyService.CategoryIdToName("CategoryId="+item.JixiaoParentCategory)</td>
                                    <td>@MyService.CategoryIdToName("CategoryId="+item.JixiaoCategory)</td>
                                    <td>@MyService.UserIdToName("UserId="+item.JixiaoUser)</td>
                                    <td>@item.JixiaoForUser</td>
                                    <td>@item.JixiaoFenshu</td>
                                    <td>@item.JixiaoTime</td>


                                    <td>

                                        <a href="#" class="btn btn-xs btn-@(item.JixiaoStatus=="已审核" ? "success" : "danger")" onclick="SetStatus('CMSJixiao','JixiaoId=@item.JixiaoId','JixiaoStatus',@(item.JixiaoStatus=="已审核" ? "'未通过'" : "'已审核'"))">@(item.JixiaoStatus == "已审核" ? "已审核" : "未通过")</a>

                                     
                                    
                                    
                                    </td>



                                    <td>@item.JixiaoShenheTime</td>
                                  </tr>
}
                              
                            </tbody>
                        </table>
                    </div><!-- /.table-responsive -->
                    <div class="hr hr-18 dotted hr-double"></div>

                    
                        
                    <div class="center">
                        
                            <!-- Pagging -->
                             <div class="SkyPager"></div>
                            <!-- EndPagging -->
                       
                    </div>
                    
                </div><!-- /span -->
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<div id="dialog-confirm" class="hide">


    <div class="space-6"></div>

    <p class="bigger-110 bolder center grey">
        <i class="icon-hand-right blue bigger-120"></i>
        你确定要删除本条信息吗？
    </p>
</div>
@section BottomScripts{
<script src="/assets/js/jquery-ui-1.10.3.full.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>

<script src="/assets/js/JSsite.js" type="text/javascript"></script>
<script src="/assets/js/jquery.pager.js" type="text/javascript"></script>
   <script type="text/javascript">

      

        var pageNo = @ViewBag.PageNo;
        var pageCount = @ViewBag.PageCount;
        var RecordCount=@ViewBag.RecordCount;

        $(function() {

            if (pageCount == 0) {
                 $(".SkyPager").hide();

            }
            $(".SkyPager").pager({ pagenumber: pageNo, pagecount: pageCount, buttonClickCallback: PageClick });
        });

        PageClick = function(no) {
            window.location = "?p=" + no;
        }
        function SetStatus(table,strwhere,columnname,columnvalue)
        {
            var url = '@Url.Action("SetFieldOneByOne", "Jixiao")?table='+table+'&strwhere='+strwhere+'&columnname='+columnname+"&columnvalue="+columnvalue;
          
            $.getJSON(url, function(data) {

                window.location.reload();
            });
            // alert("asdf");
            
        }
        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function(title) {
                var $title = this.options.title || '&nbsp;'
                if( ("title_html" in this.options) && this.options.title_html == true )
                    title.html($title);
                else title.text($title);
            }
        }));
        
       
        $(".btndel").on('click',function(e) {
            e.preventDefault();
            var url=$(this).attr("href");
				
            $( "#dialog-confirm" ).removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 警告</h4></div>",
                title_html: true,
                buttons: [
                    {
                        html: "<i class='icon-trash bigger-110'></i>&nbsp; 删除本条信息",
                        "class" : "btn btn-danger btn-xs",
                        click: function() {
                            
                            window.location=url;
                            $( this ).dialog( "close" );
                        }
                    }
                    ,
                    {
                        html: "<i class='icon-remove bigger-110'></i>&nbsp; 取消",
                        "class" : "btn btn-xs",
                        click: function() {
                            $( this ).dialog( "close" );
                        }
                    }
                ]
            });
        });

    </script>

}

