@{
    ViewBag.Title = "中医体质辨识";
    ViewBag.SmallTitle = "中医体质辨识";
}
@section HeadCss{
    <link href="/assets/css/test.css" rel="stylesheet" type="text/css" />
}
<div class="page-content">
    <div class="page-header">
        <h1>
            中医体质辨识测评
            <small>
                <i class="icon-double-angle-right"></i>
                黑龙江省中医药科学院
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12 well center h3">
            <!-- PAGE CONTENT BEGINS -->
            中 医 体 质 辨 识（共67题）

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->


    </div><!-- /.row -->
    <div class="row">
        <div class="col-xs-1">&nbsp;
        </div>
        <div class="col-xs-10 h4">
        <form id='id_form' action="/Liangbiao/Create" method="post">
            @{int i = 1;}
          @foreach (String question in ViewData["TizhiQuestion"] as IEnumerable<String>)
     {
                <div class="test_contents" style="display: none">
            <p class="descs fb h3">
               @i、 @question
            </p>


            <div class="sels_list">
                <!--单选测试-->
                @if(i==67||i==66||i==64||i==63||i==62||i==61)
                {
                     <div class="items">
                    <p class="i_top"></p>
                    <p class="i_mid">
                        <span class="sels">
                            <input type="radio" value="5" name="@i" />
                        </span>没有（根本不）
                    </p>
                    <p class="i_bot"></p>
                </div>

                <div class="items">
                    <p class="i_top"></p>
                    <p class="i_mid">
                        <span class="sels">
                            <input type="radio" value="4" name="@i" />
                        </span>很少（有一点）
                    </p>
                    <p class="i_bot"></p>
                </div>

                <div class="items">
                    <p class="i_top"></p>
                    <p class="i_mid">
                        <span class="sels">
                            <input type="radio" value="3" name="@i" />
                        </span>有时（有些）
                    </p>
                    <p class="i_bot"></p>
                </div>

                <div class="items">
                    <p class="i_top"></p>
                    <p class="i_mid">
                        <span class="sels">
                            <input type="radio" value="2" name="@i" />
                        </span>经常（相当）
                    </p>
                    <p class="i_bot"></p>
                </div>

                <div class="items">
                    <p class="i_top"></p>
                    <p class="i_mid">
                        <span class="sels">
                            <input type="radio" value="1" name="@i" />
                        </span>总是（非常）
                    </p>
                    <p class="i_bot"></p>
                </div>
                    
                }
                else
                {
                     <div class="items">
                    <p class="i_top"></p>
                    <p class="i_mid">
                        <span class="sels">
                            <input type="radio" value="1" name="@i" />
                        </span>没有（根本不）
                    </p>
                    <p class="i_bot"></p>
                </div>

                <div class="items">
                    <p class="i_top"></p>
                    <p class="i_mid">
                        <span class="sels">
                            <input type="radio" value="2" name="@i" />
                        </span>很少（有一点）
                    </p>
                    <p class="i_bot"></p>
                </div>

                <div class="items">
                    <p class="i_top"></p>
                    <p class="i_mid">
                        <span class="sels">
                            <input type="radio" value="3" name="@i" />
                        </span>有时（有些）
                    </p>
                    <p class="i_bot"></p>
                </div>

                <div class="items">
                    <p class="i_top"></p>
                    <p class="i_mid">
                        <span class="sels">
                            <input type="radio" value="4" name="@i" />
                        </span>经常（相当）
                    </p>
                    <p class="i_bot"></p>
                </div>

                <div class="items">
                    <p class="i_top"></p>
                    <p class="i_mid">
                        <span class="sels">
                            <input type="radio" value="5" name="@i" />
                        </span>总是（非常）
                    </p>
                    <p class="i_bot"></p>
                </div>

                }

               


            </div>
        </div>
         i++;
          }



   








        <p class="tbtns">
            <a id="id_pre_link" style="display: none" href="javascript:void(0)" class="test_btn btn btn-success" onclick="return do_prev()">上一题</a>
            &nbsp;&nbsp;
            <input id="id_show_result" style="display: none" type="submit" class="btns btn btn-primary" value="提 交" />
        </p>
    </form>
</div>
    </div>  

        </div>
        @section BottomScripts {

            @Scripts.Render("~/bundles/jqueryval")
            <script>
                
                function setTestSels(ele, clickfun) {
                    var items = $(ele);
                    items.hover(function () {
                        $(this).addClass('hover');
                    }, function () {
                        $(this).removeClass('hover');
                    }).click(function () {
                        items.removeClass('act');
                        var radio = $(this).find(':radio');
                        if (radio.length > 0) {
                            $(this).addClass('act');
                            radio.attr('checked', 'checked');
                            if (clickfun) {
                                clickfun(this);
                            }
                        }
                    });
                }

                var index = 0;
                var questions;
                $(function () {
                    questions = $('.test_contents');
                    setTestSels('.sels_list .items', do_next);
                    $(questions[index]).show();

                });
                function do_prev() {
                    $('#id_show_result').hide();
                    $(questions[index--]).hide();
                    $(questions[index]).show();
                    $('#id_cur_index').html(index + 1);
                    if (index == 0) {
                        $('#id_pre_link').hide();
                    }
                }
                function do_next() {
                    $('#id_pre_link').show();
                    if (index < 67 - 1) {
                        $(questions[index++]).hide();
                        $(questions[index]).show();
                        $('#id_cur_index').html(index + 1);
                    } else {
                        $('#id_show_result').show();
                    }
                }


              
            </script>
        }
