@model SkyWebCMS.Models.EditPasswordViewModel
@{
    ViewBag.Title = "个人设置";
    ViewBag.SmallTitle = "个人设置";
}
@section HeadCss{
<link rel="stylesheet" href="/assets/css/jquery-ui-1.10.3.custom.min.css" />
<link rel="stylesheet" href="/assets/css/jquery.gritter.css" />
<link rel="stylesheet" href="/assets/css/select2.css" />
<link rel="stylesheet" href="/assets/css/bootstrap-editable.css" />
}
@section HeadJs{
<script type="text/javascript" src="/assets/js/laydate.js"></script>
<script type="text/javascript" src="/assets/js/laydate.dev.js"></script>

}
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">首页</a>
        </li>

        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
        <li class="active">@ViewBag.SmallTitle</li>
    </ul><!-- .breadcrumb -->

    <!-- #nav-search -->
</div>

<div class="page-content">
    <div class="page-header">
        <h1>
            @ViewBag.Title
            <small>
                <i class="icon-double-angle-right"></i>
                @ViewBag.SmallTitle
            </small>
        </h1>

    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            @if (ViewBag.Status == "Error")
            {

                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <strong>提示：</strong>

                    @ViewBag.msg
                    <br />
                </div>

            }
            <div id="user-profile-2" class="user-profile">
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-18">
                        <li class="active">
                            <a data-toggle="tab" href="#info">
                                <i class="green icon-user bigger-120"></i>
                                个人信息
                            </a>
                        </li>
                       
                        <li>
                            <a data-toggle="tab" href="#editimg">
                                <i class="orange icon-unlock bigger-120"></i>
                                修改头像
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#password">
                                <i class="orange icon-unlock bigger-120"></i>
                                修改密码
                            </a>
                        </li>

                       

                      
                    </ul>

                    <div class="tab-content no-border padding-24">
                          @{Html.RenderAction("PartialInfo", "User", new { username = System.Web.HttpContext.Current.Request.Cookies["User"].Value });}<!-- #Info -->
                       
                      
                          @{Html.RenderAction("PartialEditUserImg", "User", new { id = System.Web.HttpContext.Current.Request.Cookies["UserId"].Value });}<!-- /#EditUserInfo -->

                          @{Html.RenderAction("PartialPassword", "User", new { id = System.Web.HttpContext.Current.Request.Cookies["UserId"].Value });}<!-- /#Password -->

                       </div>
                </div>
            </div>
        </div>
        </div><!-- /.row -->
        </div><!-- /.page-content -->
@section BottomScripts {
            @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

   
    laydate({
        elem: '#UserBirthday'
    });


</script>

<script type="text/javascript">
    //获取当前点击的对象
    $('.profile-user-info input').click(
        function () {
            var oldval = $(this).val();

            var t1 = "&nbsp;&nbsp;<span class='" + $(this).attr('name') + " spanclass'>";
            var t2 = "<button class=\"btn btn-xs btn-primary\" onclick=\"updateUserField('" + $(this).attr('name') + "','" + $(this).val() + "')\">修改</button>&nbsp;";
            var t3 = "<button class=\"btn btn-xs btn-primary\" onclick=\"updateUserFieldCancel('" + $(this).attr('name') + "','" + $(this).val() + "')\">取消</button>&nbsp;";
            var t4 = "</span>";


            if ($("." + $(this).attr('name') + "").length > 0) {
                // alert("已经有了");
            }
            else {
                $(".spanclass").remove();
                $(this).after(t1 + t2 + t3 + t4);
            }



        });
    $('select').change(
        function () {
            //alert($(this).val());
            var DtoName = "User";
            var table = "CMSUser";
            var strWhere = "UserId=" + $("#UserId").val();
            var columnname = $(this).attr('name');
            var newval = $(this).val();
            $.ajax({
                type: 'POST',
                url: "/Ajax/updateUserField",
                data: {
                    DtoName: DtoName,
                    table: table,
                    strWhere: strWhere,
                    columnname: columnname,
                    columnvalue: newval,
                },
                dataType: "json",
                success: function (data) {
                    if (data.MessageStatus == 'true') {
                        alert("更新成功");
                    }
                    else {
                        alert("数据格式不太对");

                    }

                    $("." + id + "").remove();
                },
            });
        }
        );

    function updateUserField(id, oldval) {
        var DtoName = "User";
        var table = "CMSUser";
        var strWhere = "UserId=" + $("#UserId").val();
        var columnname = $("#" + id + "").attr('name');
        var newval = $("#" + id + "").val();
        if (oldval != "") {
            if (newval == "") {
                alert("原值不为空时，新值不能为空");
            }
            if (newval == oldval) {
                alert("数据未更新，和原来一样");
            }
            if (newval != oldval && newval != "") {

                $.ajax({
                    type: 'POST',
                    url: "/Ajax/updateUserField",
                    data: {
                        DtoName: DtoName,
                        table: table,
                        strWhere: strWhere,
                        columnname: columnname,
                        columnvalue: newval,
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.MessageStatus == 'true') {
                            alert("更新成功");
                        }
                        else {
                            $("#" + id + "").val(oldval);
                            //   alert("数据格式不太对");
                            alert(data.MessageInfo);

                        }

                        $("." + id + "").remove();
                    },
                });

            }

        }
        else {
            if (newval == "") {
                alert("原值就为空，新值也为空，那就空");
            }
            if (newval != oldval) {

                $.ajax({
                    type: 'POST',
                    url: "/Ajax/updateUserField",
                    data: {
                        DtoName: DtoName,
                        table: table,
                        strWhere: strWhere,
                        columnname: columnname,
                        columnvalue: newval,
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.MessageStatus == 'true') {
                            alert("更新成功");
                        }
                        else {
                            $("#" + id + "").val(oldval);

                            alert(data.MessageInfo);
                        }

                        $("." + id + "").remove();
                    },
                });
            }

        }


        //alert(id);
        //alert($("#"+id+"").val());
    }
    function updateUserFieldCancel(id, oldval) {
        // alert(id + "=" + oldval);

        $("#" + id + "").val(oldval);
        $("." + id + "").remove();


    }
</script>



        }





