@model SkyWebCMS.Models.EditPasswordViewModel
@{
    ViewBag.Title = "个人设置";
    ViewBag.SmallTitle = "个人设置";
}
@section HeadCss{
<link rel="stylesheet" href="/assets/css/jquery-ui-1.10.3.custom.min.css" />
<link rel="stylesheet" href="/assets/css/jquery.gritter.css" />
<link rel="stylesheet" href="/assets/css/select2.css" />
<link rel="stylesheet" href="/assets/css/bootstrap-editable.css" />
    }
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">首页</a>
        </li>

        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
        <li class="active">@ViewBag.SmallTitle</li>
    </ul><!-- .breadcrumb -->

    <!-- #nav-search -->
</div>

<div class="page-content">
    <div class="page-header">
        <h1>
            @ViewBag.Title
            <small>
                <i class="icon-double-angle-right"></i>
                @ViewBag.SmallTitle
            </small>
        </h1>

    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            @if (ViewBag.Status == "Error")
            {

                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <strong>提示：</strong>

                    @ViewBag.msg
                    <br />
                </div>

            }
            <div id="user-profile-2" class="user-profile">
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-18">
                        <li class="active">
                            <a data-toggle="tab" href="#info">
                                <i class="green icon-user bigger-120"></i>
                                个人信息
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#editinfo">
                                <i class="orange icon-unlock bigger-120"></i>
                                信息修改
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#editimg">
                                <i class="orange icon-unlock bigger-120"></i>
                                修改头像
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#password">
                                <i class="orange icon-unlock bigger-120"></i>
                                修改密码
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#telephone">
                                <i class="blue icon-phone bigger-120"></i>
                                绑定手机
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#email">
                                <i class="pink icon-envelope  bigger-120"></i>
                                绑定邮箱
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content no-border padding-24">
                         @{Html.RenderAction("PartialInfo", "User", new { username = System.Web.HttpContext.Current.Request.Cookies["User"].Value });}<!-- #Info -->
                       
                        @{Html.RenderAction("PartialEditUserInfo", "User", new { id = System.Web.HttpContext.Current.Request.Cookies["UserId"].Value });}<!-- /#EditUserInfo -->
                      
                          @{Html.RenderAction("PartialEditUserImg", "User", new { id = System.Web.HttpContext.Current.Request.Cookies["UserId"].Value });}<!-- /#EditUserInfo -->

                         @{Html.RenderAction("PartialPassword", "User", new { id = System.Web.HttpContext.Current.Request.Cookies["UserId"].Value });}<!-- /#Password -->

                         @{Html.RenderAction("PartialTelephone", "User", new { id = System.Web.HttpContext.Current.Request.Cookies["UserId"].Value });}<!-- /#Telephone -->

                        @{Html.RenderAction("PartialEmail", "User", new { id = System.Web.HttpContext.Current.Request.Cookies["UserId"].Value });}<!-- /#Email -->
                    </div>
                </div>
            </div>
        </div>
        </div><!-- /.row -->
        </div><!-- /.page-content -->
        @section BottomScripts {
            @Scripts.Render("~/bundles/jqueryval")
        }





